<div class="booking_overlay" id="{{ project.name }}"
    {% if project.fixed_date == 1 %} style="width: {{ width }}px; border: 1px solid red !important;" {% else %} style="width: {{ width }}px;" {% endif %}
    data-lanetype="Project"
    draggable="{{ dragable }}"
    ondragstart="drag(event)">
    <div class="object-div" style="font-size: {{ font_size }}pt !important;" onclick="frappe.bohrplaner.show_detail_popup(this);" data-popupvalue="{{ project.name }}">
        <div style="background-color: {{ ampeln[0] }} min-width:{{ min_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{{ project.name }}&nbsp;({{ project.drilling_meter_per_day }}m/T)</div>
        <div style="background-color: {{ ampeln[1] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if project.customer_name %}{{ project.customer_name }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[2] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if project.object_name %}{{ project.object_name }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[3] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if project.object_street %}{{ project.object_street }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[4] }} color: {{ ampeln[5] }}  {{ ampeln[6] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if project.object_location %}{{ project.object_location }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[7] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;" class="ews-details">{% if project.ews_details %}{{ ews_details }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[8] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if saugauftrag %}{{ saugauftrag }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[9] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if pneukran %}{{ pneukran }}{% else %}&nbsp;{% endif %}</div>
        <div style="background-color: {{ ampeln[10] }} min-width:{{ min_width }}px; max-width: {{ max_width }}px; height: {{ box_height }}px; padding-top: {{ padding }}px !important;">{% if drilling_equipment %}{{ drilling_equipment }}{% else %}&nbsp;{% endif %}</div>
        <div style="width: {{ max_width }}px;">
            <div style="float:left; min-width:{{ min_width }}px; max-width:{{ min_width }}px; background-color: {{ ampeln[11] }} color: {{ ampeln[13] }} overflow: visible; height: {{ box_height }}px; padding-top: {{ padding }}px !important; text-shadow: 2px 2px 4px black; ">{% if manager_short %}{{ manager_short }}{% else %}&nbsp;{% endif %}</div>
            <div style="float:left; min-width:{{ min_width }}px; max-width:{{ min_width }}px; background-color: {{ ampeln[12] }} height: {{ box_height }}px; padding-top: {{ padding }}px !important;">
                {% if traffic_light %}&#128678;{% endif %}
                {% if toitoi %}&#128699;{% endif %}
                {% if red_drop %}&#129656;{% endif %}
                {% if blue_drop %}&#128167;{% endif %}
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
