<h3>{{ _("Holidays") }}</h3>
<table class="table">
    <tr>
        <th>{{ _("Project") }}</th>
        <th>{{ _("Details") }}</th>
    </tr>
    {% for c in holiday_conflicts %}
        {% for k, v in c.items() %}
            <tr>
                <td><a href="{{ v['url'] }}">{{ k }}</a></td>
                <td>{{ v['date'] }} ({{ v['region'] }})</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<h3>{{ _("Projects") }}</h3>
<table class="table">
    <tr>
        <th>{{ _("Project") }}</th>
        <th>{{ _("Drilling Team") }}</th>
        <th>{{ _("Conflict") }}</th>
        <th>{{ _("Details") }}</th>
    </tr>
    {% for c in project_conflicts %}
        {% for k, v in c.items() %}
            <tr>
                <td><a href="{{ v['url'] }}">{{ k }}</a></td>
                <td>{{ v['drilling_team'] }}</td>
                <td>{{ v['conflict'] }}</td>
                <td>{{ v['details'] }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
