<table style="width: 100%;">
    <tr>
        <td><b>{{ __("Customer") }}</b></td>
        <td><a href="/desk#Form/Customer/{{ customer }}" target="_blank">{{ customer }}</a> ({{ customer_name }})</td>
    </tr>   
    <tr>
        <td><b>{{ __("Object") }}</b></td>
        <td>
            <a href="/desk#Form/Object/{{ object }}" target="_blank">{{ object }}</a>
            {% if base_object %}
                <a href="/desk#Form/Project/{{ base_object }}" target="_blank">({{ base_object }})</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>{{ __("Project") }}</b></td>
        <td>
            <a href="/desk#Form/Project/{{ project }}" target="_blank">{{ project }}</a>
        </td>
    </tr>
    <tr>
        <td><b>{{ __("Cloud") }}</b></td>
        <td><a href="{{ cloud_url }}" target="_blank">{{ __("Cloud") }}</a></td>
    </tr>
    <tr>
        <td><b>{{ __("Sales Order") }}</b></td>
        <td>{% if sales_order %}
            <a href="/desk#Form/Sales Order/{{ sales_order }}" target="_blank">{{ sales_order }}</a>
            {% else %}-{% endif %}
        </td>
    </tr>
    <tr>
        <td><b>{{ __("Street") }}</b></td>
        <td>{{ object_street }}</td>
    </tr>
    <tr>
        <td><b>{{ __("Location") }}</b></td>
        <td>
            {{ object_location }}
            <a href="https://www.google.com/maps/place/{{ object_street }},{{ object_location }}" target="_blank" title="Google Maps">&#127760</a>
            <a href="/desk#object-overview?object={{ object }}" target="_blank" title="Objekt&uuml;bersicht">&#128205</a>
        </td>
    </tr>
    <tr>
        <td><b>{{__("EWS Details") }}</b></td>
        <td>{{ ews_details }}</td>
    </tr>
    <!-- <tr>
        <td><b>{{ __("Pneukran") }}</b></td>
        <td>{{ "Muss noch umgesetzt werden" }}</td>
    </tr> -->
    <tr>
        <td><b>{{ __("Mud Disposer") }}</b></td>
        <td>{% if mud_disposer %}
            <a href="/desk#Form/Mud Disposer/{{ mud_disposer }}" target="_blank">{{ mud_disposer }}</a> ({{ mud_disposer_name }})
            {% else %} - {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>{{ __("Drilling Equipment") }}</b></td>
        <td>{% for de in drilling_equipment %}
            {{ de }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td><b>{{ __("Manager") }}</b></td>
        <td>{{ manager }}</td>
    </tr>
    <tr>
        <td><b>{{ __("Verlängerungsaufträge") }}</b></td>
        <td>
            {% for sub in subprojects %}
                {{ sub }}<br>
            {% endfor %}
        </td>
    </tr>
</table>
