<style>
.booking_overlay {
    position: relative !important;
    min-height: 290px !important;
    max-height: 290px !important;
    overflow: visible !important;
}

.internal_overlay {
    position: relative !important;
    min-height: 285px !important;
    max-height: 285px !important;
    overflow: visible !important;
}

.header_additional {
    width: 140px !important;
}

table {
    border-collapse: collapse !important;
}

.sticky-left {
    height: 310px !important;
    min-height: 310px !important;
    max-height: 310px !important;
}

.sticky-top-small {
    width: 70px !important;
}

.gap {
    background-color: white;
    position: relative !important;
    z-index: 200 !important;
}

.internal {
    background-color: red;
}

.print-format {
 margin-top: 5mm;
 margin-left: 5mm;
 margin-right: 5mm;
}

{{ css }}
</style>
<table>
    <thead>
        <tr>
            <th rowspan="2" class="sticky-corner calendar-grid-header">
            </th>
            {% for day in grid.days %}
                {% if grid.day_list[day] != "Sun" %}
                    {% if grid.day_list[day] != "Sat" %}
                        <th colspan="2" class="sticky-top calendar-grid-header header_additional no-border-bottom
                            {% if day == today %}today{% endif %}
                            {% if day in grid.weekend %}weekend{% endif %}">
                            KW {{ grid.kw_list[day] }}<br>{{ day }}<br>({{ _(grid.day_list[day]) }})
                        </th>
                    {% else %}
                        <th class="sticky-top calendar-grid-header no-border-bottom
                            {% if day == today %}today{% endif %}
                            weekend">
                            KW {{ grid.kw_list[day] }}<br>WE
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for day in grid.days %}
                {% if grid.day_list[day] != "Sun" %}
                    {% if grid.day_list[day] != "Sat" %}
                        <th class="sticky-top-small calendar-grid-header no-border-top-rigth-dotted
                            {% if day == today %}today{% endif %}
                            {% if day in grid.weekend %}weekend{% endif %}">
                            VM</th>
                        <th class="sticky-top-small calendar-grid-header no-border-top-left-dotted
                            {% if day == today %}today{% endif %}
                            {% if day in grid.weekend %}weekend{% endif %}">
                            NM</th>
                    {% else %}
                        <th class="sticky-top-small calendar-grid-header
                            {% if day == today %}today{% endif %}
                            weekend" style="border-top: None;"></th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for drilling_team in grid.drilling_teams %}
        <tr>
            <td class="sticky-left">
                <b>{{ drilling_team.title }} - {{ drilling_team.drilling_team_type }}</b><br>
                {% if drilling_team.drm %}{{ drilling_team.drm }}, {% endif %}{% if drilling_team.drt %}{{ drilling_team.drt }}{% endif %}<br>
                {% if drilling_team.truck_and_weight %}{{ drilling_team.truck_and_weight }}<br>{% endif %}
                {% if drilling_team.has_trough == 1 %}
                    <a class="drilling_team-tooltip" href="/desk#bohrplaner">
                        <img src="/assets/heimbohrtechnik/images/trough.png" width="24">
                    </a>
                {% endif %} {% if drilling_team.has_crane == 1 %}
                    <a class="drilling_team-tooltip" href="/desk#bohrplaner">
                        <img src="/assets/heimbohrtechnik/images/crane_hook.png" width="24">
                    </a>
                {% endif %}
                {% if drilling_team.phone %}
                    <a class="drilling_team-tooltip" href="tel:{{ drilling_team.phone }}">
                        <img src="/assets/heimbohrtechnik/images/phone.png" width="24">
                    </a>
                {% endif %}
            </td>
            {% set vars = {"counter": 0} %}
            {% for project in drilling_teams[drilling_team.team_id] %}
                {% if vars.update({"counter": vars.counter + 1}) %}{% endif %} 
                {% if project.update({"box_height": 27 }) %}{% endif %}
                {% if project.update({"padding": 3 }) %}{% endif %}
                {% if project.update({"font_size": 18 }) %}{% endif %}
                {% if project.update({"width": project["dauer"]*70 }) %}{% endif %}
                {% if project.update({"min_width": 60 }) %}{% endif %}
                {% if project.update({"max_width": 120 }) %}{% endif %}
                {% if "project" in project %}
                    {% if project["project"].project_type == "External" %}
                        <div style="z-index: {{ vars.counter }} !important; {% if vars.counter in weekend_columns %}background-color: #9dc7f0;{% endif %}">
                            <td>
                                {{ frappe.render_template("heimbohrtechnik/heim_bohrtechnik/page/bohrplaner/booking_overlay.html", project) }}
                            </td>
                        </div>
                    {% elif  project["project"].project_type == "Internal" %}
                        <div style="z-index: {{ vars.counter }} !important; {% if vars.counter in weekend_columns %}background-color: #9dc7f0;{% endif %}">
                            <td>
                                {{ frappe.render_template("heimbohrtechnik/heim_bohrtechnik/page/bohrplaner/internal_overlay.html", project) }}
                            </td>
                        </div>
                    {% endif %}
                {% else %}
                    <td class="gap" {% if vars.counter in weekend_columns %}style="background-color: #9dc7f0;"{% endif %}>&nbsp;</td>
                {% endif %}
                {% for i in range(1, project["dauer"]|int) %}
                    {% if vars.update({"counter": vars.counter + 1}) %}{% endif %}
                    {% if "project" in project %}
                        <td {% if vars.counter in weekend_columns %}style="background-color: #9dc7f0;"{% endif %}></td>
                    {% else %}
                        <td class="gap" {% if vars.counter in weekend_columns %}style="background-color: #9dc7f0;"{% endif %}></td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for i in range(vars.counter, 33) %}
                {% if vars.update({"counter": vars.counter + 1}) %}{% endif %}
                <td class="gap" {% if vars.counter in weekend_columns %}style="background-color: #9dc7f0;"{% endif %}></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

