<div>
<span style="color: rgb(0, 117, 184);">Freundliche Gr&uuml;sse / kind regards<br><br></span>
</div>

<p>
<span style="color: rgb(239, 127, 0);">{{ user_name or "" }}</span><br>
<span style="color: rgb(0, 117, 184);">{{ function or "" }}</span>
</p>

<div>
    <a href="http://www.hb-ag.ch/" style="color: blue;">
<img src="https://data.libracore.ch/hbag/mail_logo.jpg" alt="Heim Bohrtechnik AG" width="100" height="100">
    </a>
</div>

<div>
    <span style="color: rgb(0, 117, 184);">
Bafflesstrasse 15<br>
9450 Altst&auml;tten SG<br>
Switzerland<br>
MwSt-Nr&nbsp;&nbsp;CHE-112.855.196
    </span>
</div>
{% if phone %}<div>
<span style="color: rgb(0, 117, 184);">UC: </span><span style="color: rgb(239, 127, 0);">{{ phone }}</span>
</div>{% endif %}
{% if mobile %}<div>
<span style="color: rgb(0, 117, 184);">Mobil: </span><span style="color: rgb(239, 127, 0);">{{ mobile }}</span>
</div>{% endif %}
<div>
<span style="color: rgb(0, 117, 184);">Email: </span><a href="mailto:{{ user or 'info@hb-ag.ch' }}" style="color: rgb(239, 127, 0);">{{ user or "" }}</a>
</div>


<div>
    <a href="https://www.facebook.com/Heim-Bohrtechnik-AG-456667831066128" style="color: blue; float: left; position: relative; ">
        <img src="https://data.libracore.ch/hbag/mail_facebook.png" alt="HEIM Bohrtechnik AG @ Facebook" width="33" height="33">
    </a>
    <a href="https://www.instagram.com/p/CuDjCYlJXcv/?utm_medium=copy_link" style="color: blue; float: left; position: relative; ">
        <img src="https://data.libracore.ch/hbag/mail_instagram.png" alt="HEIM Bohrtechnik AG @ Instagram" width="34" height="34">
    </a>
    <a href="https://www.youtube.com/watch?v=GqBXs2KFjhY" style="color: blue; float: left; position: relative; ">
        <img src="https://data.libracore.ch/hbag/mail_youtube.png" alt="HEIM Bohrtechnik AG @ YouTube" width="31" height="31">
    </a>
</div>

<div>
<strong style="color: red;">!!! WIR HABEN EINE NEUE RUFNUMMER !!!</strong>
</div>

<div>
<strong style="color: rgb(0, 112, 192);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+41&nbsp;71&nbsp;575 05 00&nbsp;&nbsp;-&nbsp;&nbsp;Zentrale</strong>
</div>

<div>
<span style="color: rgb(0, 112, 192);">
<br>Ihre gewohnten Ansprechpartner, erreichen Sie &uuml;ber die Unified Communication (UC)-Nummer. Egal ob er unterwegs, im Home-office oder im B&uuml;ro ist.
</span>
</div>

<div>
<span style="color: rgb(127, 127, 127);">
<br>Diese E-Mail kann Betriebs- und Gesch&auml;ftsgeheimnisse oder sonstige vertrauliche Informationen enthalten.
Sollten Sie diese E-Mail irrt&uuml;mlich erhalten haben, ist Ihnen eine Kenntnisnahme des Inhalts, eine Vervielf&auml;ltigung oder Weitergabe der E-Mail ausdr&uuml;cklich untersagt.
Bitte benachrichtigen Sie uns und vernichten Sie die E- Mail. Der Absender hat alle erdenklichen Vorsichtsmaßnahmen getroffen,
dass die Anlagen dieser E-Mail frei von Computerviren o.&auml;. sind. Gleichwohl schließen wir die Haftung f&uuml;r jeden Schaden aus, der durch Computerviren o.&auml;.
verursacht wurde, soweit wir nicht vors&auml;tzlich oder grob fahrl&auml;ssig gehandelt haben. Wir raten Ihnen, dass Sie in jedem Fall Ihre eigene
Virenpr&uuml;fung vornehmen, bevor Sie Anlagen &ouml;ffnen. Vielen Dank.<br>
E-mail Correspondence with the Heim Bohrtechnik AG is only for information purposes and exclusively for the person adressed or their representative.
This medium is not be used for the exchange of legally-binding communications. Any form of the unauthorized use, publication, reproduction,
copying or disclosure of the content of this e-mail is not permitted. The falsification of the original content of this message in the course
of date transmission cannot be excluded.<br>
</span>
</div>

<div>
    <span>
        <img src="https://data.libracore.ch/hbag/mail_tree.gif" width="36" height="42">
    </span>
    <strong style="color: rgb(146, 208, 80);">
    Umweltschutz geht uns alle an! Wenn Sie diese Email nicht ausdrucken, sparen Sie pro Seite 250 ml Wasser, 5 g Co2, 15 g Holz und 50 WH Energie.
    </strong>
</div>
