<!-- total_width = anzahlt tage * 161px + 1px + 246px (berechnung in python) -->
<div style="overflow: hidden; width: {{ total_width }}px;">
    {% for drilling_team in drilling_teams %}
        <div class="clear"></div>
        <div class="bohrteam-row">
            {% for day in days %}
                {% if (in_list(drilling_team.booked_vm_start_days, day)) { %}
                    <!-- start tag am vormittag -->
                    {% if (in_list(weekend, day)) { %}
                        <!-- wochenende -->
                        <div class="tag weekend">
                            <div class="sub-tag b-middle weekend booked project-details" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } else { %}
                        <!-- wochentag -->
                        <div class="tag">
                            <div class="sub-tag b-middle booked project-details" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } %}
                {% } else if (in_list(drilling_team.booked_nm_start_days, day)) { %}
                    {% if (in_list(weekend, day)) { %}
                        <!-- wochenende -->
                        <div class="tag weekend">
                            <div id="{{ drilling_team.team }}-{{ day }}-VM" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag b-middle weekend dropziel"></div>
                            <div class="sub-tag weekend booked project-details" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } else { %}
                        <!-- wochentag -->
                        <div class="tag">
                            <div id="{{ drilling_team.team }}-{{ day }}-VM" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag b-middle dropziel"></div>
                            <div class="sub-tag booked project-details" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } %}
                {% } else if (in_list(drilling_team.booked_days, day)) { %}
                     <!-- ganze tage -->
                     {% if (in_list(weekend, day)) { %}
                        <!-- wochenende -->
                        <div class="tag weekend">
                            <div class="sub-tag b-middle weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } else { %}
                        <!-- wochentag -->
                        <div class="tag">
                            <div class="sub-tag b-middle booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } %}
                {% } else if (in_list(drilling_team.booked_vm_end_days, day)) { %}
                    <!-- end tag am vormittag -->
                    {% if (in_list(weekend, day)) { %}
                        <!-- wochenende -->
                        <div class="tag weekend">
                            <div class="sub-tag b-middle weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div id="{{ drilling_team.team }}-{{ day }}-NM" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag weekend dropziel"></div>
                        </div>
                    {% } else { %}
                        <!-- wochentag -->
                        <div class="tag">
                            <div class="sub-tag b-middle booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div id="{{ drilling_team.team }}-{{ day }}-NM" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag dropziel"></div>
                        </div>
                    {% } %}
                {% } else if (in_list(drilling_team.booked_nm_end_days, day)) { %}
                    <!-- end tag am nachmittag -->
                    {% if (in_list(weekend, day)) { %}
                        <!-- wochenende -->
                        <div class="tag weekend">
                            <div class="sub-tag b-middle weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag weekend booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } else { %}
                        <!-- wochentag -->
                        <div class="tag">
                            <div class="sub-tag b-middle booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                            <div class="sub-tag booked" id="{{ drilling_team.project_details[day].object }}" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)"></div>
                        </div>
                    {% } %}
                {% } else { %}
                    {% if (in_list(weekend, day)) { %}
                        <!-- ungebucht wochenende -->
                        <div class="tag weekend">
                            <div id="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag b-middle weekend dropziel"></div>
                            <div id="{{ drilling_team.team }}-{{ day }}-NM" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag weekend dropziel"></div>
                        </div>
                    {% } else { %}
                        <!-- ungebucht wochentag -->
                        <div class="tag">
                            <div id="{{ drilling_team.team }}-{{ day }}-VM" data-dropid="{{ drilling_team.team }}-{{ day }}-VM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="VM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag b-middle dropziel"></div>
                            <div id="{{ drilling_team.team }}-{{ day }}-NM" data-dropid="{{ drilling_team.team }}-{{ day }}-NM" data-team="{{ drilling_team.team }}" data-day="{{ day }}" data-start="NM" ondrop="frappe.drill_planner.drop(event)" ondragover="frappe.drill_planner.allow_drop(event)" ondragleave="frappe.drill_planner.drag_leave(event)" class="sub-tag dropziel"></div>
                        </div>
                    {% } %}
                {% } %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
