<!-- total_width = anzahlt tage * 161px + 1px + 246px (berechnung in python) -->
<div style="overflow: hidden; width: {{ total_width }}px;">
    <div class="date-row">
        <div class="bohrteam-platzhalter">
            <div class="form-group">
                <label for="from">{{ __("From") }}</label>
                <input type="date" class="form-control" id="from">
            </div>
            <div class="form-group">
                <label for="to">{{ __("To") }}</label>
                <input type="date" class="form-control" id="to">
            </div> 
        </div>
        {% for day in days %}
        <div class="tag"><center><b>{{ day }}</center></b>
            <div class="sub-tag b-middle">VM</div>
            <div class="sub-tag">NM</div>
        </div>
        {% endfor %}
    </div>
    {% for drilling_team in drilling_teams %}
        <div class="clear"></div>
        <div class="bohrteam-row">
            <div class="bohrteam">
                <b>{{ drilling_team.team }}</b>
            </div>
            {% for day in days %}
                {% if (in_list(drilling_team.booked_vm_start_days, day)) { %}
                    <!-- start tag am vormittag -->
                    <div class="tag">
                        <div class="sub-tag b-middle booked project-details">
                            <i class="fa fa-info-circle"></i><br>
                            {{ drilling_team.project_details[day].object }}<br>
                            {{ drilling_team.project_details[day].object_name }}<br>
                            {{ drilling_team.project_details[day].object_location }}<br>
                            {{ drilling_team.project_details[day].ews_details }}
                        </div>
                        <div class="sub-tag booked"></div>
                    </div>
                {% } else if (in_list(drilling_team.booked_nm_start_days, day)) { %}
                    <!-- start tag am nachmittag -->
                    <div class="tag">
                        <div class="sub-tag b-middle"></div>
                        <div class="sub-tag booked project-details">
                            <i class="fa fa-info-circle"></i><br>
                            {{ drilling_team.project_details[day].object }}<br>
                            {{ drilling_team.project_details[day].object_name }}<br>
                            {{ drilling_team.project_details[day].object_location }}<br>
                            {{ drilling_team.project_details[day].ews_details }}
                        </div>
                    </div>
                {% } else if (in_list(drilling_team.booked_days, day)) { %}
                     <!-- ganze tage -->
                    <div class="tag">
                        <div class="sub-tag b-middle booked"></div>
                        <div class="sub-tag booked"></div>
                    </div>
                {% } else if (in_list(drilling_team.booked_vm_end_days, day)) { %}
                    <!-- end tag am vormittag -->
                    <div class="tag">
                        <div class="sub-tag b-middle booked"></div>
                        <div class="sub-tag"></div>
                    </div>
                {% } else if (in_list(drilling_team.booked_nm_end_days, day)) { %}
                    <!-- end tag am nachmittag -->
                    <div class="tag">
                        <div class="sub-tag b-middle booked"></div>
                        <div class="sub-tag booked"></div>
                    </div>
                {% } else { %}
                    <!-- ungebucht -->
                    <div class="tag">
                        <div class="sub-tag b-middle"></div>
                        <div class="sub-tag"></div>
                    </div>
                {% } %}
            {% endfor %}
        </div>
    {% endfor %}
</div>