.date-row {
    width: 100%;
}

.date-row > .bohrteam-platzhalter {
    float: left;
    background: #f8f8f8;
    width: 246px;
    height: 120px;
}

/* Wochentag */
.date-row > .tag {
    float: left;
    background: #eee;
    width: 161px;
    height: 120px;
    
    border-left: 1px solid black;
}

.date-row > .tag:last-child {
    border-right: 1px solid black;
    width: 162px;
}

.date-row > .tag > .sub-tag {
    float: left;
    padding: 20px;
    background: #eee;
    width: 80px;
    height: 80px;
}

/* Weekend */
.date-row > .tag.weekend {
    float: left;
    background: #eee;
    width: 80px;
    height: 120px;
    
    border-left: 1px solid black;
}

.date-row > .tag.weekend:last-child {
    border-right: 1px solid black;
    width: 81px;
}

.date-row > .tag > .sub-tag.weekend {
    float: left;
    padding: 20px 0px 0px 0px;
    background: #eee;
    width: 40.5px;
    height: 80px;
}

.date-row > .tag > .sub-tag.b-middle.weekend {
    float: left;
    padding: 20px 0px 0px 0px;
    background: #eee;
    width: 38.5px;
    height: 80px;
}

.b-middle {
    border-right: 0.5px dotted black;
}

.clear {
    clear: both;
}

.bohrteam-row {
    border-top: 1px solid black;
    width: 100%;
}

.bohrteam-row > .bohrteam {
    float: left;
    padding: 20px;
    background: #eee;
    width: 246px;
    height: 120px;
}

/* Wochentag */
.bohrteam-row > .tag {
    float: left;
    background: #eee;
    width: 161px;
    height: 120px;
    
    border-left: 1px solid black;
}

.bohrteam-row > .tag:last-child {
    border-right: 1px solid black;
    width: 162px;
}

.bohrteam-row > .tag > .sub-tag {
    float: left;
    padding: 20px;
    background: #eee;
    width: 80px;
    height: 120px;
}

/* Weekend */
.bohrteam-row > .tag.weekend {
    float: left;
    background: #eee;
    width: 80px;
    height: 120px;
    
    border-left: 1px solid black;
}

.bohrteam-row > .tag.weekend:last-child {
    border-right: 1px solid black;
    width: 81px;
}

.bohrteam-row > .tag > .sub-tag.weekend {
    float: left;
    padding: 0;
    background: #eee;
    width: 40.5px;
    height: 120px;
}

.bohrteam-row > .tag > .sub-tag.b-middle.weekend {
    float: left;
    padding: 0;
    background: #eee;
    width: 38.5px;
    height: 120px;
}

.weekend {
    background-color: #FD8B8B !important;
}

.booked {
    background-color: green !important;
}

.project-details {
    overflow: visible;
    padding: 0px !important;
    white-space: nowrap;
    color: white;
}

.pointer {
    cursor: pointer;
}

[draggable=true] {
  cursor: move;
}

.ampel-indicator {
    width: 15px;
    height: 15px;
    float: left;
    margin: 5px 2px 2px 2px;
    border: 1px solid black;
    cursor: default;
}

.showTooltip {
    background-color: black;
    color: white;
    padding:5px;
    margin-top: 1.3em;
    position: absolute;
    max-width: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block !important;
}

.ondragover {
    background-color: yellow !important;
}
