<table style="width: 67mm; height: 36mm; font-size: 12px; padding: 15px;">
    <tr>
        <td style="margin-top: 0px; "><b>{{ item_name }}</b><br>
            <table style="width: 67mm;">
                <tr>
                    <td style="text-align: left; margin: 0px !important; width: 50%; font-size: 11px;">Artikelnummer: {{ item_code }}</td>
                    <td style="text-align: right; margin: 0px; padding-right: 5px; width: 50%; ">
                        <div class="pull-right">        
                            <img src="https://data.libracore.ch/phpqrcode/api/qrcode.php?content={{ item_code }}&size=3"/>        
                        </div>  
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>