<style>
  .modal-dialog {
    width: 800px !important;
  }
  
  .td {
      padding: 5px;
  }
  
  .tr {
      border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .taright {
      text-align: right;
  }
  
  .tacenter {
      text-align: center;
  }
  
  </style>
  
  <table style="width: 765px;">
      <thead>
          <tr class="tr">
              <th class="td" style="min-width: 100px;">{{ _("Parking") }}</th>
              <th class="td">{{ _("Address") }}</th>
              <th class="td">{{ _("Remarks") }}</th>
          </tr>
      </thead>
      <tbody>
          {% for parking in parkings %}
              <tr class="tr">
                  <td class="td">{{ parking.name }}</td>
                  <td class="td"><a href="geo:{{ parking.gps_latitude }},{{ parking.gps_longitude }}">{{ parking.street }}, {{ parking.pincode }} {{ parking.city }}</a></td>
                  <td class="td">{{ parking.remarks or "-" }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  