<div style="margin: 5px; margin-top: 0px; border-top: 1px solid white; ">
    <div id="map-container"></div>
</div> 

<style>
    .leaflet-popup-close-button {
        display: none;
    }
</style>

<script src="/assets/heimbohrtechnik/js/leaflet.js"></script>
<script>
        function addToConstructionSiteDescription(parkingName) {
            frappe.call({
                method: 'heimbohrtechnik.templates.pages.find_parkings.add_parking_to_construction_site',
                args: {
                    parking: parkingName,
                    object_id: "{{ object_doc.name }}"
                },
                callback: function(response) {
                    if (response.message) {
                        alert("Parkplatz erfolgreich hinzugefügt");
                        window.close();
                    } else {
                        alert("Fehler beim Hinzufügen des Parkplatzes");
                    }
                }
            });
        }

        var gps_lat = {{ object_doc.gps_lat }};
        var gps_long = {{ object_doc.gps_long }};
        var initial_zoom = 11;
        var geo = null;
        var radius = 0.1;
        var green_icon = new L.Icon({'iconUrl': '/assets/heimbohrtechnik/images/marker-icon-green.png'});
        var orange_icon = new L.Icon({'iconUrl': '/assets/heimbohrtechnik/images/marker-icon-orange.png'});
        document.getElementById('map-container').innerHTML = "<div id='map' style='width: 100%; height: 800px;'></div>";
        var map = L.map('map').setView([gps_lat, gps_long], initial_zoom);
        // create layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // hack: issue a resize event
        window.dispatchEvent(new Event('resize')); 
        
        document.getElementById("overlay-text").innerHTML = "<p>Objekte suchen...</p>";

        var marker = L.marker([{{ object_doc.gps_lat }}, {{ object_doc.gps_long }}], {'icon': orange_icon}).addTo(map);
        marker.bindPopup("<b>{{ object_doc.object_name }}</b><br>{{ object_doc.object_street }}, {{ object_doc.object_location }}");

        setTimeout(function() {
            map.panTo(new L.LatLng(gps_lat, gps_long));
        }, 500);

        {% for parking in parkings %}
            var marker = L.marker([{{ parking.gps_latitude }}, {{ parking.gps_longitude }}], {'icon': green_icon}).addTo(map);
            marker.bindPopup("<b>{{ parking.name }}</b><br>{{ parking.street }}, {{ parking.pincode }} {{ parking.city }}<br><button onclick='addToConstructionSiteDescription(\"{{ parking.name }}\")'>Zu Baustelle hinzufügen</button>");
        {% endfor %}

        document.getElementById("waitingScreen").style.display = "none";

</script>

<div id="waitingScreen" class="overlay">
  <!-- Overlay content -->
  <div class="overlay-content">
    <p><i class="fa fa-spinner fa-spin" style="font-size: 80px"></i></p>
    <p id="overlay-text">Loading...</p>
  </div>
</div>