<div style="margin: 5px; margin-top: 0px; border-top: 1px solid white; ">
    <div id="map-container"></div>
</div> 

<script src="/assets/heimbohrtechnik/js/leaflet.js"></script>
<script>
    frappe.pages['object-overview'].on_page_load = function(wrapper) {
    var page = frappe.ui.make_app_page({
        parent: wrapper,
        title: __('Object Overview'),
        single_column: true
    });
    
    frappe.object_overview.make(page);
    frappe.object_overview.run();
    
    // add the application reference
    frappe.breadcrumbs.add("Heim Bohrtechnik");
}
</script>

<div id="waitingScreen" class="overlay">
  <!-- Overlay content -->
  <div class="overlay-content">
    <p><i class="fa fa-spinner fa-spin" style="font-size: 80px"></i></p>
    <p id="overlay-text">{{ __("Laden...") }}</p>
  </div>
</div>
