<style>
.modal-dialog {
	width: 800px !important;
}

.td {
    padding: 5px;
}

.tr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.taright {
    text-align: right;
}

.tacenter {
    text-align: center;
}

</style>

<table style="width: 765px;">
    <thead>
        <tr class="tr">
            <th class="td">{{ _("Hotel") }}</th>
            <th class="td">{{ _("Address") }}</th>
            <th class="td tacenter">{{ _("Phone") }}</th>
            <th class="td tacenter">{{ _("Dist.") }}</th>
            <th class="td tacenter">{{ _("Time") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for hotel in hotels %}
            <tr class="tr">
                <td class="td">{{ hotel.supplier_name }}</td>
                <td class="td">{{ hotel.hauptadresse }}</td>
                <td class="td tacenter">{{ hotel.telefon or "-" }}</td>
                <td class="td taright"><div id="hotel_distance_{{ loop.index0 }}"></div></td>
                <td class="td taright"><div id="hotel_time_{{ loop.index0 }}"></div></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
